{% extends 'base.html' %}

{% block title_tag %}<title>PRC - Home</title>{% endblock title_tag %}

{% block home_active %} active {% endblock home_active %}

{% block link_tags %}
    <link rel="stylesheet" href="/static/css/home-css/home.css">
{% endblock link_tags %}

{% block page_details %}
    <div class="section section1">
        <img src="/static/img/pubg-cover.jpg" alt="">
        <div class="section1-details">
            <div class="details">
                <a class="register-now-btn" href="register-now">Register Now</a>
            </div>
        </div>
    </div>

    <script>
        var section1 = document.querySelector('.section1');

        document.addEventListener('DOMContentLoaded', function() {
            section1.style.height = window.innerHeight + 'px';
        })
    </script>
{% endblock page_details %}