{% extends 'base.html' %}

{% block title_tag %}<title>Register Now</title>{% endblock title_tag %}

{% block link_tags %}
    <link rel="stylesheet" href="/static/css/register-now-css/register-now.css">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6054c23257753ff3"></script>
{% endblock link_tags %}

{% block page_details %}
    <div class="register-main-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <p class="alert-message">{{ message|safe }}</p>
                <button type="button" class="close-btn"><i class="fas fa-times" onclick="closeAlert()"></i></button>
            </div>
        {% endfor %}

        <div class="register-container">
            <div class="register-top-container">
                <div class="register-title">
                    Register Now
                </div>
                <div class="match-date">Match Date : 20 March,2021</div>
            </div>
            <div class="register-content-container">
                <form action="/register-now" method="POST" class="register-form" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="form-top">
                        <div class="image-container">
                            <div class="image-div">
                                <div class="content">
                                    <img class="user-icon" src="/static/img/user-icon.svg" alt="">
                                    <p>Please upload your photo</p>
                                </div>
                                <img class="user-image" id="user-image-preview" src="" alt="">
                                {{form.image}}
                                <!-- <input class="default-btn" type="file" name="register-image" onchange="showPreview(event)" hidden> -->
                                <div class="upload-btn-div">
                                    <p class="upload-img-btn" onclick="clicked()">Upload Image</p>
                                    <div class="after-upload-img">
                                        <p class="change-img-btn btn" onclick="clicked()">Change Image</p>
                                    </div>
                                </div>
                            </div>
                            <div class="image-restrict-div">
                                <p>Selected file is not a valid image. Only JPEG, JPG and PNG files are allowed.</p>
                            </div>
                        </div>
                        <div class="form-top-inputs-div">
                            <div class="fullname-div input-div">
                                <label class="input-label" for="full_name">Full Name</label>
                                {{form.full_name}}
                                <!-- <input type="text" name="register-fullname" id="full_name" placeholder="Full Name" > -->
                            </div>
                            <div class="email-div input-div">
                                <label class="input-label" for="email">Email</label>
                                {{form.email}}
                                <!-- <input type="email" name="register-email" id="email" placeholder="example@gmail.com"> -->
                            </div>                        
                        </div>
                    </div>
                    <div class="mobile-no-div input-div">
                        <label class="input-label" for="mobile_no">Mobile No.</label>
                        {{form.mobile_no}}
                        <!-- <input type="number" name="register-mobileno" id="mobile_no" placeholder="Mobile Number"> -->
                    </div>
                    <div class="game-username-div input-div">
                        <label class="input-label" for="name_in_game">Game Username</label>
                        {{form.name_in_game}}
                        <!-- <input type="text" name="register-gameusername" id="name_in_game" placeholder="Game Id Name"> -->
                    </div>
                    <div class="game-id-div input-div">
                        <label class="input-label" for="game_id">Game Id</label>
                        {{form.game_id}}
                        <!-- <input type="number" name="register-gameid" id="game_id" placeholder="Game Id Number"> -->
                    </div>
                    <div class="double-input-div">
                        <div class="age-div input-div">
                            <label class="input-label" for="age">Age</label>
                            {{form.age}}
                            <!-- <input type="number" name="register-age" id="age" placeholder="Your Age in Years"> -->
                        </div>
                        <div class="gender-div input-div">
                            <label class="input-label" for="gender">Gender</label>
                            {{form.gender}}
                            <!-- <select name="register-gender" id="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="facebook-id-div input-div">
                        <label class="input-label" for="facebook_name">Facebook Id Name</label>
                        {{form.facebook_name}}
                        <!-- <input type="text" name="register-facebook" id="facebook_name" placeholder="Facebook Id Name" > -->
                    </div>

                    <div class="submit-btn">
                        {% comment %} {{ request.build_absolute_uri }} {% endcomment %}
                        <div class="addthis_inline_share_toolbox"></div>
                        <input type="submit" class="register-submit-btn" name="submit" value="Submit">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        var defaultBtn = document.querySelector('.default-btn');
        function clicked() {
            defaultBtn.click();
        }


        var defaultBtn = document.querySelector('.default-btn');
        var imageRestrictDiv = document.querySelector('.image-restrict-div');
        var preview = document.getElementById('user-image-preview');
        defaultBtn.addEventListener("change", function(event) {
            var files = defaultBtn.files;
            for (var i = 0; i < files.length; i++) {
                if ((files[i].type != 'image/png') && (files[i].type != 'image/jpeg') && (files[i].type != 'image/jpg')) {
                    imageRestrictDiv.style.display = 'flex';
                } else {
                    imageRestrictDiv.style.display = 'none';
                }
            }
            var uploadBtnDiv = document.querySelector('.upload-btn-div');
            var uploadImgBtn = document.querySelector('.upload-img-btn');
            var afterUploadImgDiv = document.querySelector('.after-upload-img');
            var imageContent = document.querySelector('.form-top .image-container .image-div .content');

            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);

                preview.src = src;
                preview.style.display = "block";
                imageContent.style.display = 'none';
                uploadImgBtn.style.display = 'none';
                afterUploadImgDiv.style.display = 'flex';
                uploadBtnDiv.style.alignItems = 'flex-end';

            }

            
        }, false);
        


        
    </script>
{% endblock page_details %}