* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #222222;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

::-webkit-scrollbar {
    width: .7rem;
  }

::-webkit-scrollbar-track {
    background: #121117; 
}
 
::-webkit-scrollbar-thumb {
    background: #414141; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #414141; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main-container {
    width: 100%;

    .header {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        width: 100%;
        height: 6.5rem;
        background: #00000060;
        font-size: 1.2rem;
        box-shadow: 0px -15px 41px 0px #464646;
        z-index: 99999;

        .header-left {
            display: flex;
            align-items: center;
            a {
                .logo {
                    width: 22rem;
                    display: block;
                }
            }
        }

        .header-mid {
            height: 100%;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                height: 100%;
                text-transform: uppercase;
                
                li {
                    height: 100%;
                    
                    a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        padding: 0 2rem;
                    }

                    .active {
                        color: #FFC605;
                        position: relative;
                    }

                    .active::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: .4rem;
                        background: #FFC605;
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;
                    }

                    &:hover > a {
                        color: #FFC605;
                        background: rgba(255, 255, 255, 0.103);
                    }
                }
            }
        }

        .header-right {
            .register-btn {
                border: .2rem solid #fff;
                border-radius: 2rem;
                padding: .5rem 1.5rem;
                transition: background-color .3s, border .3s, color .3s;
            }

            .register-btn:hover {
                background-color: #FFC605;
                border: .2rem solid #FFC605;
                color: #000;
            }
        }

        .menu-toggle-btn {
            // background: #000;
            width: 4.2rem;
            height: 4rem;
            position: relative;
            cursor: pointer;
            display: none;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.5rem;
                opacity: 0;
                transition: .3s;
            }
            
            .show-open-btn {
                opacity: 1;
            }
            .show-close-btn {
                opacity: 1;
            }
        }
    }

    .side-bar-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #000;
        transition: .5s;
        overflow: hidden;
        overflow-y: auto;
        z-index: 200;

        ul {
            width: 100%;
            margin-top: 6.5rem;

            li {
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 5.5rem;
                    font-size: 1.6rem;
                    padding: 0 2rem;
                    border-bottom: .1rem solid #3d3d3d;

                    &:hover {
                        background: #383838;
                    }
                }
            }
        }

        .follow-us {
            width: 100%;

            .follow-us-title {
                font-size: 2.3rem;
                text-align: center;
                width: 90%;
                margin: 2rem auto;
                border-top: .1rem solid #838383;
                border-bottom: .1rem solid #838383;
                padding: 1.5rem;
            }

            ul {
                width: 100%;
                margin: 0;

                li {
                    a {
                        .icon {
                            width: 1.9rem;
                            text-align: center;
                            margin-right: 1.5rem;
                        }

                    }

                    .first-item {
                        border-top: .1rem solid #3d3d3d;
                    }
                }
            }
        }
    }

    .show-side-bar-menu {
        left: 0;
    }

}

.alert {
    position: absolute;
    width: 100%;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;

    .alert-message {
        padding-right: 4rem;
    }

    .close-btn {
        border: none;
        background: none;
        
        .fa-times {
            font-size: 2rem;
            outline: none;
            cursor: pointer;

            &:hover {
                color: #353B36;
            }
        }
    }
}

.alert-success {
    color: #0F5132;
    border: .1rem solid #BADBCC;
    background: #D4EDDA;
    .close-btn {
        .fa-times {
            color: #6A766D;
        }
    }
}
.alert-danger {
    color: #721C24;
    border: .1rem solid #F5C6CB;
    background: #F8D7DA;
    .close-btn {
        .fa-times {
            color: #7C6B6D;
        }
    }
}
.alert-warning {
    color: #93751B;
    border: .1rem solid #faeab8;
    background: #FFF3CD;
    .close-btn {
        .fa-times {
            color: #7F7966;
        }
    }
}
.alert-secondary {
    color: #383D41;
    border: .1rem solid #D6D8DB;
    background: #E2E3E5;
    .close-btn {
        .fa-times {
            color: #717172;
        }
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 56.9%;
    }
}

// @media (max-width: 1100px) {
//     html {
//         font-size: 50%;
//     }
// }

@media (max-width: 900px) {
    .main-container {
        .header {
            background: #000000;

            .header-mid {
                display: none;
            }

            .header-right {
                display: none;
            }

            .menu-toggle-btn {
                display: block;
            }
        }
    }
}