<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title_tag %}{% endblock title_tag %}
    
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- CUSTOM CSS FOR BASE.HTML -->
    <link rel="stylesheet" href="/static/css/base.css">

    {% block link_tags %}
    {% endblock link_tags %}

</head>
<body>
    <div class="main-container">
        <header class="header">
            <div class="header-left">
                <a href="/">
                    <img class="logo" src="/static/img/logo.png" alt="">
                </a>
            </div>
            <div class="header-mid">
                <ul>
                    <li><a href="/" class="{% block home_active %} {% endblock home_active %}">Home</a></li>
                    <li><a href="how-to-register" class="{% block how_to_register_active %} {% endblock how_to_register_active %}">How to Register</a></li>
                    <li><a href="game-rules" class="{% block game_rules_active %} {% endblock game_rules_active %}">Game Rules</a></li>
                    <li><a href="contact-us" class="{% block contact_us_active %} {% endblock contact_us_active %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="header-right">
                <a class="register-btn" href="register-now">Register Now</a>
            </div>
        </header>
        
        {% block page_details %}
        {% endblock page_details %}
        
    </div>

    <script>
        var alert = document.querySelector('.alert');
        function closeAlert() {
            alert.remove();
        }
    </script>

</body>
</html>