.main-container .register-main-container {
  margin: 10rem auto;
  width: 100%;
  max-width: 60rem;
  border: .1rem solid #3d3d3d;
  color: #e6e6e6;
  border-radius: 1.5rem;
  overflow: hidden;
}

.main-container .register-main-container .register-container {
  width: 100%;
  padding: 0 1rem;
}

.main-container .register-main-container .register-container .register-top-container {
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  border-bottom: .1rem solid #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .register-main-container .register-container .register-top-container .register-title {
  font-size: 3rem;
}

.main-container .register-main-container .register-container .register-top-container .match-date {
  font-size: 2rem;
  color: #FFC605;
}

.main-container .register-main-container .register-container .register-content-container {
  width: 100%;
}

.main-container .register-main-container .register-container .register-content-container .register-form {
  width: 100%;
  padding: 2rem 2rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form input, .main-container .register-main-container .register-container .register-content-container .register-form select {
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
  outline: none;
  border: .1rem solid #3d3d3d;
  background: #222222;
  color: #757575;
  padding: 0 1.5rem;
  margin-top: .7rem;
  -webkit-transition: border .2s;
  transition: border .2s;
}

.main-container .register-main-container .register-container .register-content-container .register-form input:focus, .main-container .register-main-container .register-container .register-content-container .register-form select:focus {
  border: .1rem solid #FFC605;
}

.main-container .register-main-container .register-container .register-content-container .register-form input::-webkit-input-placeholder, .main-container .register-main-container .register-container .register-content-container .register-form select {
  font-size: 1.333rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form select {
  cursor: pointer;
}

.main-container .register-main-container .register-container .register-content-container .register-form label {
  font-size: 1.6rem;
  margin-left: .2rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .input-div {
  width: 100%;
  margin-top: 2.5rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .double-input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .register-main-container .register-container .register-content-container .register-form .double-input-div .age-div {
  margin-right: 2rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container {
  margin-right: 3rem;
  width: 15rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div {
  position: relative;
  width: 15rem;
  height: 15rem;
  border: .1rem solid #3d3d3d;
  overflow: hidden;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .content .user-icon {
  width: 7rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .content p {
  color: #757575;
  font-size: 1.4rem;
  text-align: center;
  margin-top: .5rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .user-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .upload-btn-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000c0;
  display: none;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .upload-btn-div .upload-img-btn {
  font-size: 1.4rem;
  border: .1rem solid #FFC605;
  color: #FFC605;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .upload-btn-div .after-upload-img {
  display: none;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div:hover > .upload-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .form-top-inputs-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .form-top-inputs-div .input-div {
  margin: 0;
}

.main-container .register-main-container .register-container .register-content-container .register-form .form-top .form-top-inputs-div .input-div:nth-child(2) {
  margin-top: 1.8rem;
}

.main-container .register-main-container .register-container .register-content-container .register-form .submit-btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-container .register-main-container .register-container .register-content-container .register-form .submit-btn input {
  width: 10rem;
  cursor: pointer;
  -webkit-transition: background-color .3s, border .3s, color .3s;
  transition: background-color .3s, border .3s, color .3s;
}

.main-container .register-main-container .register-container .register-content-container .register-form .submit-btn input:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}

.image-restrict-div {
  display: none;
  color: #F32013;
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  .main-container .register-main-container .register-container .register-top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .register-main-container .register-container .register-top-container .register-title {
    margin-bottom: .5rem;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form {
    padding: 2rem 0;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container {
    width: 20rem;
    margin: 0;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div {
    width: 20rem;
    height: 20rem;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1rem;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .content .user-icon {
    width: 10rem;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .upload-btn-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div .upload-btn-div .upload-img-btn {
    width: 100%;
    padding: 1rem;
    border-radius: 0rem;
    text-align: center;
    background: #FFC605;
    color: #000;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .image-container .image-div:hover > .upload-btn-div {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .form-top-inputs-div .input-div {
    margin-top: 2.5rem;
  }
  .main-container .register-main-container .register-container .register-content-container .register-form .form-top .form-top-inputs-div .input-div:nth-child(2) {
    margin-top: 2.5rem;
  }
}
/*# sourceMappingURL=register-now.css.map */